*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}

.container{
    border: none;
    border-radius: 15px;
    background-color: rgb(136, 186, 184);
    height: auto;
    width: 25vw;
    box-shadow: 4px 5px 6px;
}

.header{
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 900;
    color: white;
    border-bottom: 0.5px solid white;
    margin-bottom: 20px;
}

.add-task{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

input{
    padding: 7px;
    border-radius: 5px;
}

button:hover{
    border: 1px solid black;
    box-shadow: 2px 2px 2px ;
}

button{
    background-color: rgb(213, 213, 100);
    padding: 5px;
    border-radius: 5px;
}

.task-list{
    margin-bottom: 20px;
}

ul{
    list-style: none;
    padding: 15px;
}

li{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 7px;
}